.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav,
.curriculum span {
  display: none;
}
.curriculum {
  font-size: var(--sizeSmall);
}

@media screen and (min-width: 768px) {
  .header {
    grid-template-areas: "logo menu curriculum";
    grid-template-columns: auto 1fr auto;
  }
  .brand {
    grid-area: logo;
  }
  .nav {
    grid-area: menu;
  }
  .curriculum {
    grid-area: curriculum;
  }
  .nav {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .curriculum span {
    display: inline-block;
    margin-right: 0.25rem;
  }
}
