.contacto {
  margin: 2.5rem auto;
  max-width: 38rem;
}
.description {
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  margin: 0;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.label,
.label > span {
  font-weight: var(--fontBold);
}
.label {
  display: inline-block;
  padding-block-end: 0.5rem;
  padding-inline-start: 1rem;
}
.label > span {
  color: #da1414;
}
.control {
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border: 1px solid #858c94;
  appearance: none;
  border-radius: 0.5rem;
}
.control:focus {
  outline: 1px solid #4183ce;
  -moz-outline-radius: 0.5rem;
}
.group button {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .contacto {
    margin: 5rem auto;
  }
  .contacto h2 {
    display: block;
    text-align: center;
  }
  .description {
    text-align: center;
    padding-block-end: 1.5rem;
  }
}
