.wrapper {
  background: linear-gradient(
    135deg,
    var(--gradient-color-1) 0%,
    var(--gradient-color-2) 100%
  );
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}
.main {
  margin-top: 75px;
}
@media (min-width: 992px) {
  .main {
    margin-top: 85px;
  }
}
