.menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  list-style: none;
}
.menuItem {
  padding: 0.5rem 1rem;
  margin-inline-start: 1rem;
}
.menuLink {
  font-weight: var(--fontBold);
  font-size: var(--sizeSmall);
  text-transform: uppercase;
  color: var(--color-accent);
  cursor: pointer;
}
.menuLink:hover,
.active {
  color: var(--color-text);
}
@media (min-width: 1200px) {
  .menu {
    margin-right: 9.5rem;
  }
}
