.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.menuItem {
  padding: 0.5rem 1rem;
  margin: 0 1rem;
}
.menuLink {
  font-weight: var(--fontBold);
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--color-accent);
}
