.btn {
  box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-weight: var(--fontBold);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  border: 2px solid var(--color-text);
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
  transition: background 0.25s;
}
.btn > svg {
  margin-right: 0.5rem;
}
.btnPrimary {
  background-color: var(--color-primary);
}
.btnPrimary:hover {
  background-color: var(--color-primary-hover);
}
.btnSecondary {
  background-color: var(--color-secondary);
}
.btnSecondary:hover {
  background-color: var(--color-secondary-hover);
}
