.btn {
  padding: 0.8rem 1.5rem;
  font-size: var(--sizeSmall);
  font-weight: var(--fontBold);
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid var(--color-text);
  box-shadow: var(--shadow);
  border-radius: 0.25rem;
  transition: background 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn > svg {
  margin-right: 0.5rem;
}
.btnRounded {
  border-radius: 2rem !important;
}
.btnPrimary {
  background-color: var(--color-primary);
}
.btnPrimary:hover {
  background-color: var(--color-primary-hover);
}
.btnSecondary {
  background-color: var(--color-secondary);
}
.btnSecondary:hover {
  background-color: var(--color-secondary-hover);
}
.btnIcon {
  padding: 0.625rem !important;
  box-shadow: none;
}
.btnIcon > svg {
  margin-right: 0;
}
