.hero,
.information {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.image {
  margin: 0 auto;
}
.say,
.title {
  font-weight: var(--fontBold);
}
.say {
  font-size: var(--sizeH3);
}
.title {
  font-size: var(--sizeH2);
  margin: 0;
}
.description {
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    align-items: center;
  }
  .image {
    order: 2;
  }
}
@media screen and (min-width: 992px) {
  .hero {
    gap: 1rem;
  }
  .image {
    margin-top: -2rem;
  }
}
@media (min-width: 1200px) {
  .hero {
    gap: 2rem;
  }
}
