.hero {
  display: grid;
  grid-template-areas: "imagen" "information";
  gap: 0.5rem;
}
.heroInformation {
  grid-area: information;
}
.heroSay,
.heroTitle {
  font-weight: var(--fontBold);
}
.heroSay {
  font-size: 3rem;
  line-height: 4.85rem;
}
.heroTitle {
  font-size: 3.7rem;
  line-height: 6rem;
  margin: 0;
}
.heroInfo {
  line-height: 1.5;
}
.heroList {
  list-style: none;
  padding: 0;
}
.heroInfo,
.heroItem {
  margin: 1rem 0;
}
.heroItem {
  display: block;
}
.heroLink {
  display: flex;
  align-items: center;
  font-weight: var(--fontBold);
  text-decoration: underline;
}
.heroLink svg {
  margin-right: 1rem;
}
.heroImagen {
  grid-area: imagen;
  position: relative;
  margin: 0 auto;
}
.heroImagen > img {
  position: relative;
}
.heroBox {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 992px) {
  .hero {
    grid-template-areas: "information imagen";
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    gap: 2rem;
  }
}

@media screen and (min-width: 1400px) {
  .hero::before {
    width: 30rem;
    height: 30rem;
  }
}
