.title {
  font-size: var(--sizeH5);
  display: inline-block;
  color: var(--color-primary);
  background-color: var(--color-text);
  box-shadow: -4px 4px 0 white;
  padding: 0.5rem;
  margin: 0;
  margin-inline-start: 4px;
}
@media screen and (min-width: 992px) {
  .title {
    font-size: var(--sizeH4);
  }
}
