.proyecto {
  display: inline-block;
  padding: 2.5rem 0;
}
.image {
  margin-bottom: 1.5rem;
}
.description {
  margin-bottom: 1rem;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.links a:nth-of-type(1) {
  order: 2;
}

@media (min-width: 768px) {
  .wrapper:nth-child(odd) .proyecto .image {
    order: 2;
  }
  .links a:nth-of-type(1) {
    order: initial;
  }
  .proyecto {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .image,
  .information {
    flex: 1;
  }
  .image {
    margin-bottom: 0;
  }
  .image img {
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .links {
    flex-direction: row;
  }
}
