.testimonial {
  padding: 2.5rem 0;
}

.box {
  border: 1px solid black;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  border: 6px solid transparent;
  border-radius: 1.5rem;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    radial-gradient(
      ellipse at top left,
      rgba(255, 255, 255, 0.75) -150%,
      rgba(255, 255, 255, 0) 50%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.image {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
}
.description,
.title {
  margin: 0;
}
.description {
  font-weight: var(--fontBold);
}
.title {
  color: var(--color-accent);
  font-size: var(--sizeSmaller);
}

@media screen and (min-width: 992px) {
  .testimonial {
    padding: 5rem 0;
  }
  .box {
    text-align: center;
    padding: 5rem;
  }
  .description {
    font-size: var(--sizeH4);
  }
  .title {
    font-size: var(--sizeH5);
    font-weight: var(--fontBold);
  }
  .image {
    width: 5rem;
    height: 5rem;
  }
}
